*{
    margin: 0;
    padding: 0;
}

.singleimg_main{
    width: 100%;
    height: 100vh;
    background-size: auto;
    background-position: center;
}



.img_title{
    color: rgb(2, 1, 1);
    font-style: normal;
    font-family: Arial;
    font-size: 16px;
    padding-left: 53px;
    float: left;

}

.description{
    margin-left: 100px;
    padding-top: 60px;
    letter-spacing: 1px;
    word-spacing: 3px;
    line-height: 25px;
    font-size: 15px;
    font-style: oblique;
    font-weight: bold;
}



