*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    
}

.logo{
    width: 800px;
    height: 75px;
}

.logo_style{
    color: rgb(2, 1, 1);
    font-style: italic;
    font-family: Georgia, 'Times New Roman';
    font-size: 28px;
    padding-left: 47px;
    float: left;
    padding-top: 25px;
}

.content{
    width: 1200px;
    height: auto;
    margin: auto;
    margin-left: 5%;
    margin-top: 3%;
    color: rgb(65, 64, 64);
    position: relative;
    font-size: 15px;
}

.about{
    font-style: oblique;
    text-decoration: underline rgba(65, 64, 64, 0.904);
}

.paragraph{
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 25px;
    letter-spacing: 1px;
    word-spacing: 3px;
    line-height: 25px;
    font-size: 15px;
    font-style: oblique;
    font-weight: bold;
}

.quote{
    padding-left: 900px;
    color: black;
    font-variant: small-caps;
    font-style: italic;
    font-size: 25px;
    line-height: 50px;
    letter-spacing: 3px;
}



.place{
    padding: 10px;
    text-align: center;
    background: rgb(247, 244, 244);
    font-weight: bold;
}


